<div class="container">
	<div class="row">
		<div class="col-xs-6 col-sm-4">
			<div class="card" >

				<app-carrusel ng-class="card-img-top"></app-carrusel>

  				<div class="card-body">
    				<blockquote class="blockquote card-title">
    					<h6 class="mb-0" style="color: grey;"> Labisu.store </h6>
    				</blockquote>
    				<button class="btn btn-danger btn-round btn-block" routerLink="/inicio">
 		 				<i class="fa fa-eye"></i>Ver tienda
					</button>
  				</div>
			</div>
		</div>
 
    <div class="col-xs-6 col-sm-4">
      <div class="card">

        <app-carrusel ng-class="card-img-top"></app-carrusel>

          <div class="card-body">
            <blockquote class="blockquote card-title">
              <h6 class="mb-0" style="color: grey;"> Labisu.store </h6>
            </blockquote>
            <button class="btn btn-danger btn-round btn-block">
            <i class="fa fa-eye"></i> Ver tienda
          </button>
          </div>
      </div>
    </div>
	</div>
</div>
