<div class="container-image">
<div class="page-header page-header-xs" data-parallax="true" style="background-image: url('../assets/img/fondo-default.jpg');">
	<div class="filter" style="height: 5rem;"></div>
</div>
</div>
 
<div class="section profile-content" >
	<div class="container">
  		<div class="owner" style="height: 10rem;">
    		<div class="avatar" style="height: 10rem;">
      			<img src="../assets/img/faces/joe-gardner-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
    		</div>
 
    		<div class="name">
      			<h6 class="title">tienda.store</h6>
    		</div>
  		</div>
	</div>
</div>
