<app-header></app-header>
<br>
<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
			<div class="card" >
				<div class=" resimg" style="background-image: url('../../../assets/img/colgantes-varios.jpg');">	
				</div>
				<div class="card-body">
			    	<h4 class="card-title">colgante elegante</h4>
			    		<blockquote class="blockquote text-left">
  							<p class="mb-0">Colgante fino y elegante
  							plata ley925 100% real no fake.</p>
						</blockquote>
						<h6>precio referencia: $27.990</h6>
						<h6>precio Covid: $24.990</h6>
			    	

			    	<app-modal-card></app-modal-card>
			    	<button class="btn btn-success btn-round">
							<i class="fa fa-whatsapp"></i> Envíar wsp
					</button>
				 </div>
			</div>
		</div>

		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
			<div class="card" >
				<div class="resimg" style="background-image: url('../../../assets/img/colgante-elegante.jpg');">	
				</div>
				<div class="card-body">
			    	<h4 class="card-title">colgante triple</h4>
			    		<blockquote class="blockquote text-left">
  							<p class="mb-0">Colgante fino y elegante
  							plata ley925 100% real no fake.</p>
						</blockquote>
						<h6>precio referencia: $29.990</h6>
			    		<h6>precio covid: $26.990</h6>
			    	<app-modal-card></app-modal-card>
			    	<button class="btn btn-success btn-round">
							<i class="fa fa-whatsapp"></i> Envíar wsp
					</button>
				 </div>
			</div>
		</div>

	</div>
</div>
