<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-round" data-toggle="modal" data-target="#modalCard">
  <i class="fa fa-shopping-bag"></i>Comprar
</button>

<!-- Modal -->
<div class=" modal fade" id="modalCard" tabindex="-1" role="dialog" aria-labelledby="modalCardLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalCardLabel">Método de compra</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Elija si desea comprar solo este producto o si desea añadir su producto y seguir buscando

        <hr>
        <button class="btn btn-round btn-primary"><i class="fa fa-credit-card"></i> Compra directa</button>
        
        <button class="btn btn-round btn-primary"> <i class="fa fa-cart-plus"></i>Añadir a carrito</button>
      </div>
    </div>
  </div>
</div>