<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-round" data-toggle="modal" data-target="#modalInfo">
  + info
</button>

<!-- Modal -->
<div class="modal fade" id="modalInfo" tabindex="-1" role="dialog" aria-labelledby="modalInfoLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalInfoLabel">Quieres mas info?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Puedes escoger entre contctar al vendedor via WhatsApp o visitar su producto en instagram!
      </div>
      <div class="modal-footer">
      		<button class="btn btn-primary btn-block btn-round">
  				<i class="nc-icon nc-send"></i> Envíar wsp
			</button>
      </div>
    </div>
  </div>
</div>
