<div style="height: 0.5rem;"></div>
<div class="container">
	<div class="row">
		<div class="col">
			
			<div class="bd-example">
  <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../../assets/img/colgantes-varios.jpg" class="d-block w-100" alt="...">
        <!-- <div class="carousel-caption d-none d-md-block">
          <h5>labisu.store</h5>
          <p> Lo mejor en joyas de primera categoría </p>
        </div> -->
      </div>
      <div class="carousel-item">
        <img src="../../../assets/img/colgante-elegante.jpg" class="d-block w-100" alt="...">
        <!-- <div class="carousel-caption d-none d-md-block">
          <h5>labisu.store</h5>
          <p>Todas nuestras joyas son Ley925</p>
        </div> -->
      </div>
      <div class="carousel-item">
        <img src="../../../assets/img/colgante-elegante.jpg" class="d-block w-100" alt="...">
        <!-- <div class="carousel-caption d-none d-md-block">
          <h5>Labisu.store</h5>
          <p>Tratadas con la mejor calidad y cuidado</p>
        </div> -->
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
      <span class="carousel-control-next-icon " aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

		</div>
	</div>
</div>
